# Spring Boot
/target/
*.iml
.idea/
*.log

# Maven
log/
logs/
*.jar
*.war
*.ear
hs_err_pid*

# Gradle
.gradle/
build/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iws
*.ipr
*.iws
*.iml
out/
.metadata/
# Visual Studio Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
